/*Ne pas éditer modules/_sprite directement car le fichier est automatisé par Gulp.
Editer gulp/templates/sprite*/
/*Je suis un test*/

{{#shapes}}
{{#first}}
.icon{
      background-image: url('/assets/images/sprites/{{{sprite}}}');
}
{{/first}}
  .icon--{{base}}{
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
  }
{{/shapes}}
